https://pythonhosted.org/pyDOE/rsm.html

# Response Surface Designs

In this section, the following kinds of response surface designs will be described:

- Box-Behnken

- Central Composite

>Hint: All available designs can be accessed after a simple import statement:

In [1]:
# pip install --upgrade pyDOE2

In [1]:
# from pyDOE import *
from pyDOE2 import *
import numpy as np
import pandas as pd

## Box-Behnken (`bbdesign`)

http://www.itl.nist.gov/div898/handbook/pri/section3/gifs/bb.gif

Box-Behnken designs can be created using the following simple syntax:

```
bbdesign(n, center)
```

where n is the number of factors (at least 3 required) and center is the number of center points to include. If no inputs given to center, then a pre-determined number of points are automatically included.

## Examples

The default 3-factor Box-Behnken design:

In [3]:
bbd3 = bbdesign(3)
bbd3

array([[-1., -1.,  0.],
       [ 1., -1.,  0.],
       [-1.,  1.,  0.],
       [ 1.,  1.,  0.],
       [-1.,  0., -1.],
       [ 1.,  0., -1.],
       [-1.,  0.,  1.],
       [ 1.,  0.,  1.],
       [ 0., -1., -1.],
       [ 0.,  1., -1.],
       [ 0., -1.,  1.],
       [ 0.,  1.,  1.],
       [ 0.,  0.,  0.],
       [ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

In [12]:
bbd3.shape

(15, 3)

In [4]:
np.corrcoef(bbd3.T)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

A customized design with four factors, but only a single center point:

In [5]:
bbd4_1 = bbdesign(4, center=1)
bbd4_1

array([[-1., -1.,  0.,  0.],
       [ 1., -1.,  0.,  0.],
       [-1.,  1.,  0.,  0.],
       [ 1.,  1.,  0.,  0.],
       [-1.,  0., -1.,  0.],
       [ 1.,  0., -1.,  0.],
       [-1.,  0.,  1.,  0.],
       [ 1.,  0.,  1.,  0.],
       [-1.,  0.,  0., -1.],
       [ 1.,  0.,  0., -1.],
       [-1.,  0.,  0.,  1.],
       [ 1.,  0.,  0.,  1.],
       [ 0., -1., -1.,  0.],
       [ 0.,  1., -1.,  0.],
       [ 0., -1.,  1.,  0.],
       [ 0.,  1.,  1.,  0.],
       [ 0., -1.,  0., -1.],
       [ 0.,  1.,  0., -1.],
       [ 0., -1.,  0.,  1.],
       [ 0.,  1.,  0.,  1.],
       [ 0.,  0., -1., -1.],
       [ 0.,  0.,  1., -1.],
       [ 0.,  0., -1.,  1.],
       [ 0.,  0.,  1.,  1.],
       [ 0.,  0.,  0.,  0.]])

In [11]:
bbd4_1.shape

(25, 4)

In [6]:
np.corrcoef(bbd4_1.T)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

## Central Composite (`ccdesign`)

http://www.itl.nist.gov/div898/handbook/pri/section3/gifs/fig5.gif

Central composite designs can be created and customized using the syntax:

```
ccdesign(n, center, alpha, face)
```

where

- `n` is the number of factors,

- `center` is a 2-tuple of center points (one for the factorial block, one for the star block, default (4, 4)),

- `alpha` is either “orthogonal” (or “o”, default) or “rotatable” (or “r”)

- `face` is either “circumscribed” (or “ccc”, default), “inscribed” (or “cci”), or “faced” (or “ccf”).

http://www.itl.nist.gov/div898/handbook/pri/section3/gifs/ccd2.gif

The two optional keyword arguments alpha and face help describe how the variance in the quadratic approximation is distributed. Please see the NIST web pages if you are uncertain which options are suitable for your situation.

Note:

- ‘ccc’ and ‘cci’ can be rotatable designs, but ‘ccf’ cannot

- If face is specified, while alpha is not, then the default value of alpha is ‘orthogonal’

## Examples

Simplest input, assuming default kwargs:

In [7]:
ccd2 = ccdesign(2)
ccd2

array([[-1.        , -1.        ],
       [ 1.        , -1.        ],
       [-1.        ,  1.        ],
       [ 1.        ,  1.        ],
       [ 0.        ,  0.        ],
       [ 0.        ,  0.        ],
       [ 0.        ,  0.        ],
       [ 0.        ,  0.        ],
       [-1.41421356,  0.        ],
       [ 1.41421356,  0.        ],
       [ 0.        , -1.41421356],
       [ 0.        ,  1.41421356],
       [ 0.        ,  0.        ],
       [ 0.        ,  0.        ],
       [ 0.        ,  0.        ],
       [ 0.        ,  0.        ]])

In [10]:
ccd2.shape

(16, 2)

In [8]:
np.corrcoef(ccd2.T)

array([[1., 0.],
       [0., 1.]])

More customized input, say, for a set of computer experiments where there isn’t variability so we only need a single center point:

In [13]:
ccd3 = ccdesign(3, center=(0, 1), alpha='r', face='cci')
ccd3

array([[-0.59460356, -0.59460356, -0.59460356],
       [ 0.59460356, -0.59460356, -0.59460356],
       [-0.59460356,  0.59460356, -0.59460356],
       [ 0.59460356,  0.59460356, -0.59460356],
       [-0.59460356, -0.59460356,  0.59460356],
       [ 0.59460356, -0.59460356,  0.59460356],
       [-0.59460356,  0.59460356,  0.59460356],
       [ 0.59460356,  0.59460356,  0.59460356],
       [-1.        ,  0.        ,  0.        ],
       [ 1.        ,  0.        ,  0.        ],
       [ 0.        , -1.        ,  0.        ],
       [ 0.        ,  1.        ,  0.        ],
       [ 0.        ,  0.        , -1.        ],
       [ 0.        ,  0.        ,  1.        ],
       [ 0.        ,  0.        ,  0.        ]])

In [14]:
ccd3.shape

(15, 3)

In [15]:
np.corrcoef(ccd3.T)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## More Information

If the user needs more information about appropriate designs, please consult the following articles on Wikipedia:

- Box-Behnken designs
    + http://en.wikipedia.org/wiki/Box-Behnken_design

- Central composite designs
    + http://en.wikipedia.org/wiki/Central_composite_design

There is also a wealth of information on the NIST website about the various design matrices that can be created as well as detailed information about designing/setting-up/running experiments in general:

http://www.itl.nist.gov/div898/handbook/pri/pri.htm

Any questions, comments, bug-fixes, etc. can be forwarded to the [author](tisimst@gmail.com).

### Create 3 Factor RSM

http://reliawiki.org/index.php/Response_Surface_Methods_for_Optimization

In [95]:
# doe_m = ccdesign(3, center=(0, 1), alpha='r', face='cci')
# doe_m = ccdesign(3, center=(0, 1), face='cci')
# doe_m = ccdesign(3, center=(0, 1), alpha='o', face='ccc')
# doe_m = ccdesign(3, center=(0, 1), alpha='r', face='ccc')
# doe_m = ccdesign(3, center=(0, 1))
doe_m = ccdesign(3, center=(0, 6)) # use to match standard CCD
doe_m.shape

(20, 3)

In [96]:
doe_df = pd.DataFrame(doe_m)
doe_df.shape

(20, 3)

In [97]:
doe_df

          0        1        2
0  -1.00000 -1.00000 -1.00000
1   1.00000 -1.00000 -1.00000
2  -1.00000  1.00000 -1.00000
3   1.00000  1.00000 -1.00000
4  -1.00000 -1.00000  1.00000
5   1.00000 -1.00000  1.00000
6  -1.00000  1.00000  1.00000
7   1.00000  1.00000  1.00000
8  -2.44949  0.00000  0.00000
9   2.44949  0.00000  0.00000
10  0.00000 -2.44949  0.00000
11  0.00000  2.44949  0.00000
12  0.00000  0.00000 -2.44949
13  0.00000  0.00000  2.44949
14  0.00000  0.00000  0.00000
15  0.00000  0.00000  0.00000
16  0.00000  0.00000  0.00000
17  0.00000  0.00000  0.00000
18  0.00000  0.00000  0.00000
19  0.00000  0.00000  0.00000

In [112]:
np.power(2.44949, 4)

36.000015121201585

In [113]:
np.power(36, 0.25)

2.449489742783178

In [98]:
# calculate correct alpha - program gives non-standard value (wrong value)
# seems to be related number of centerpoints - changes when change 'center'
# https://www.itl.nist.gov/div898/handbook/pri/section3/pri3363.htm
# https://www.itl.nist.gov/div898/handbook/pri/section3/pri3361.htm
alpha = np.power(2**3, 0.25)
alpha

1.681792830507429

In [100]:
doe_df[doe_df < -1.0] = -alpha
doe_df[doe_df >  1.0] =  alpha
doe_df

           0         1         2
0  -1.000000 -1.000000 -1.000000
1   1.000000 -1.000000 -1.000000
2  -1.000000  1.000000 -1.000000
3   1.000000  1.000000 -1.000000
4  -1.000000 -1.000000  1.000000
5   1.000000 -1.000000  1.000000
6  -1.000000  1.000000  1.000000
7   1.000000  1.000000  1.000000
8  -1.681793  0.000000  0.000000
9   1.681793  0.000000  0.000000
10  0.000000 -1.681793  0.000000
11  0.000000  1.681793  0.000000
12  0.000000  0.000000 -1.681793
13  0.000000  0.000000  1.681793
14  0.000000  0.000000  0.000000
15  0.000000  0.000000  0.000000
16  0.000000  0.000000  0.000000
17  0.000000  0.000000  0.000000
18  0.000000  0.000000  0.000000
19  0.000000  0.000000  0.000000

In [101]:
doe_df.columns = ['A', 'B', 'C']
doe_df.head()

     A    B    C
0 -1.0 -1.0 -1.0
1  1.0 -1.0 -1.0
2 -1.0  1.0 -1.0
3  1.0  1.0 -1.0
4 -1.0 -1.0  1.0

In [102]:
doe_df.corr()

     A    B    C
A  1.0  0.0  0.0
B  0.0  1.0  0.0
C  0.0  0.0  1.0

In [103]:
doe_df['AB'] = doe_df['A'] * doe_df['B']
doe_df['AC'] = doe_df['A'] * doe_df['C']
doe_df['BC'] = doe_df['B'] * doe_df['C']

doe_df['ABC'] = doe_df['A'] * doe_df['B'] * doe_df['C']

doe_df['A2'] = doe_df['A'] * doe_df['A']
doe_df['B2'] = doe_df['B'] * doe_df['B']
doe_df['C2'] = doe_df['C'] * doe_df['C']

In [104]:
np.round(doe_df.corr(), 3)

       A    B    C   AB   AC   BC  ABC    A2    B2    C2
A    1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.00  0.00  0.00
B    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.00  0.00  0.00
C    0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.00  0.00  0.00
AB   0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.00  0.00  0.00
AC   0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.00  0.00  0.00
BC   0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.00  0.00  0.00
ABC  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.00  0.00  0.00
A2   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.00 -0.09 -0.09
B2   0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.09  1.00 -0.09
C2   0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.09 -0.09  1.00

In [105]:
use_doe = doe_df[['A', 'B', 'C']]
use_doe

           A         B         C
0  -1.000000 -1.000000 -1.000000
1   1.000000 -1.000000 -1.000000
2  -1.000000  1.000000 -1.000000
3   1.000000  1.000000 -1.000000
4  -1.000000 -1.000000  1.000000
5   1.000000 -1.000000  1.000000
6  -1.000000  1.000000  1.000000
7   1.000000  1.000000  1.000000
8  -1.681793  0.000000  0.000000
9   1.681793  0.000000  0.000000
10  0.000000 -1.681793  0.000000
11  0.000000  1.681793  0.000000
12  0.000000  0.000000 -1.681793
13  0.000000  0.000000  1.681793
14  0.000000  0.000000  0.000000
15  0.000000  0.000000  0.000000
16  0.000000  0.000000  0.000000
17  0.000000  0.000000  0.000000
18  0.000000  0.000000  0.000000
19  0.000000  0.000000  0.000000

In [106]:
new_names = ['mp', 'cp', 'pp']
        
use_doe2 = use_doe.copy()
use_doe2.columns = new_names

use_doe2

          mp        cp        pp
0  -1.000000 -1.000000 -1.000000
1   1.000000 -1.000000 -1.000000
2  -1.000000  1.000000 -1.000000
3   1.000000  1.000000 -1.000000
4  -1.000000 -1.000000  1.000000
5   1.000000 -1.000000  1.000000
6  -1.000000  1.000000  1.000000
7   1.000000  1.000000  1.000000
8  -1.681793  0.000000  0.000000
9   1.681793  0.000000  0.000000
10  0.000000 -1.681793  0.000000
11  0.000000  1.681793  0.000000
12  0.000000  0.000000 -1.681793
13  0.000000  0.000000  1.681793
14  0.000000  0.000000  0.000000
15  0.000000  0.000000  0.000000
16  0.000000  0.000000  0.000000
17  0.000000  0.000000  0.000000
18  0.000000  0.000000  0.000000
19  0.000000  0.000000  0.000000

In [114]:
def recode(x, min_x, max_x, min_y, max_y):
    # linear transform of x to y 
    # so that min_x = -alpha to min_y and max_x = alpha to max_y

    # Y = m*X + b
    # m = dy/dx
    # b = Y - m*x
    slope = (max_y - min_y)/(max_x - min_x)
    intercept = max_y - slope*max_x
    return slope*x + intercept

In [115]:
# mp >= 0.05, cp >= 0.1, and pp >= 0.2
# mp <= 0.30, cp <= 0.6, and pp <= 0.5

use_doe2['mp'] = recode(use_doe2['mp'], -alpha, alpha, 0.05, 0.30)
use_doe2['cp'] = recode(use_doe2['cp'], -alpha, alpha, 0.10, 0.60)
use_doe2['pp'] = recode(use_doe2['pp'], -alpha, alpha, 0.20, 0.50)

In [119]:
use_doe2 = np.round(use_doe2, 3)
use_doe2

       mp     cp     pp
0   0.101  0.201  0.261
1   0.249  0.201  0.261
2   0.101  0.499  0.261
3   0.249  0.499  0.261
4   0.101  0.201  0.439
5   0.249  0.201  0.439
6   0.101  0.499  0.439
7   0.249  0.499  0.439
8   0.050  0.350  0.350
9   0.300  0.350  0.350
10  0.175  0.100  0.350
11  0.175  0.600  0.350
12  0.175  0.350  0.200
13  0.175  0.350  0.500
14  0.175  0.350  0.350
15  0.175  0.350  0.350
16  0.175  0.350  0.350
17  0.175  0.350  0.350
18  0.175  0.350  0.350
19  0.175  0.350  0.350

In [120]:
np.round(use_doe2.corr(), 3)

     mp   cp   pp
mp  1.0  0.0  0.0
cp  0.0  1.0  0.0
pp  0.0  0.0  1.0

In [121]:
use_doe2.to_csv('hpt_rsm2.csv', index=False)